body {
	font-family: Lato;
	font-size: 135%;
}

iframe.slide {
	width:1375;
	height:770px;
	border: none;
}

h1 {
	color: #023047;
	margin-top:5px;
	margin-bottom:12px;
}

h2 {
	color: #219ebc;
	margin-top:5px;
	margin-bottom:9px;
}

h3 {
	color: #8ecae6;
	margin-top:5px;
	margin-bottom:6px;
}

h1, h2, h3 {
	text-align: center;
}

ul.nobullets li {
	list-style-type: none;
}

img.logo {
	max-width: 300px;
	max-height: 85px;
}

.docker-compose img.logo {
	max-width: 200px;
	max-height: 60px;
	border: 1px solid black;
	margin: 1px;
	background-color: white;
}

table.logos td {
	text-align: center;
	vertical-align: middle;
}

iframe.rounded_edges_line,
div.rounded_edges_line {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
}

iframe.rounded_edges_line {
	width: 1300px;
	height: 660px;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.middle {
	vertical-align: middle;
}

.top {
	vertical-align: top;
}

table.services thead td,
table.services tbody.head {
	background-color: #efefef;
	font-weight: bold;
}

span.link {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}